<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>MyFirstServlet</display-name>

    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>ru.innopolis.stc.servlets.WelcomeServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>ru.innopolis.stc.servlets.student.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GreatHall</servlet-name>
        <servlet-class>ru.innopolis.stc.servlets.greatHall.GreatHallServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreatHall</servlet-name>
        <url-pattern>/greatHall</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Headmaster</servlet-name>
        <servlet-class>ru.innopolis.stc.servlets.HeadmasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Headmaster</servlet-name>
        <url-pattern>/headmaster</url-pattern>
    </servlet-mapping>
</web-app>
